* {
    box-sizing: border-box;
}

/* colors */

.color-white {
    color: white;
    font-size: 5em;
    font-weight: bold;
}

/* backgrounds */

.bg-blue {
    background-color: #083b4c;
}

.align-center-div {
    vertical-align: middle;
}

.card {
    width: 100px;
    height: 100px!important;
    line-height: 100px!important;
    margin: 12px;
}

.number {
    background-color: #1389b2!important;
}

.fizz {
    background-color: #0cd6a1!important;
}

.buzz {
    background-color: #ffd166!important;
}

.fizzbuzz {
    background-color: #f0466f!important;
}